{% extends "base.html" %}

{% block content %}

    <h1 style="text-align: center" class="display-4">
        {{ car.model }}
        {% if car in user.cars.all %}
            <a style="float: right" class="btn btn-danger" href="{% url 'taxi:assign_or_delete' pk=car.id %}">Delete me from this car</a>
        {% else %}
            <a style="float: right" class="btn btn-success" href="{% url 'taxi:assign_or_delete' pk=car.id %}">Assign me to this car</a>
        {% endif %}
    </h1>
    <p class="display-6">
        <strong>Manufacturer:</strong>
        <a class="text-decoration-none nav" style="display: inline" href="{% url 'taxi:manufacturer-detail' car.manufacturer.pk %}">
            {{ car.manufacturer }},
        </a> {{ car.manufacturer.country }}
    </p>
    <ul class="list-nav values">
    {% for driver in car.drivers.all %}
        <li style="display: inline-block; width: auto ; margin: 1.5% 1.5% 1.5% 0">
            <a style="padding-right: 1%; " class=text-decoration-none href="{% url 'taxi:driver-detail' driver.pk %}">
                <div class="cars" style=" border-radius: 10px; background-color: #77777777; padding: 1% 10px 1% 0">
                    <p class="nav lead" style="max-width: max-content">
                        <strong>Username: </strong> {{   driver.username }}
                        {% if driver == user %}
                            (Me)
                        {% endif %}
                    </p>
                    {% if driver.first_name and driver.last_name %}
                        <p class="lead nav" style= "max-width: max-content"><strong>Full name: </strong> {{ driver.first_name }} {{ driver.last_name }}</p>
                    {% endif %}
                        <p class="lead" style="padding-left: 10px; color: black; max-width: max-content"><strong>License number: </strong>{{ driver.license_number }}</p>
                </div>
            </a>
        </li>
        {% empty %}
            <p class="display-6"><small>Sorry, this car doesn't have any drivers yet(</small></p>
    {% endfor %}
    </ul>
    <a class="li text-decoration-none btn btn-secondary" href="{% url 'taxi:car-update' car.pk %}">Update</a>
{% endblock %}
