{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    {% if object %}
        <h1 class="display-3" style="text-align: center">Update A Car</h1>
    {% else %}
        <h1 class="display-3" style="text-align: center">Add New Car</h1>
    {% endif %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input class="btn btn-warning" type="submit" value="Submit">
    </form>
{% endblock %}
