{% extends "base.html" %}

{% block content %}
  <h1 class="display-4" style="text-align: center">
      Drivers
      <a style="float: right" class="btn btn-warning" href="{% url 'taxi:driver-create' %}">Create</a>
  </h1>
  {% if driver_list %}
    <ul class="list-nav values">
      {% for driver in driver_list%}
        <li style="border-radius: 10px; background-color: #77777777; margin: 1.5% 0">
          <a class="text-decoration-none" href="{% url "taxi:driver-detail" driver.pk %}">
            <div class="cars" style="padding-top: 0">
                {% if driver == user %}
                    <p class="nav" style="padding: 1%">{{ driver.username }}(Me)</p>
                {% elif driver.first_name and driver.last_name %}
                    <p class="nav" style="padding: 1%; vertical-align: center">{{ driver.username }}({{ driver.first_name }} {{ driver.last_name }})</p>
                {% else %}
                    <p class="nav" style="padding: 1%;">{{ driver.username }}(Private driver)</p>
                {% endif %}
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no drivers in taxi</p>
  {% endif %}
{% endblock %}
