
html {
    background-image: url("/static/images/background-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
}

body {
    margin: 40px 20px 80px 20px;
    background-color: transparent;
    --header-height: auto;
    --footer-height: 60px;
    height: calc(100% + 20px - var(--footer-height));
}

.menu {
    border-radius: 15px;
    margin-bottom: 40px;
    background-color: #F9D71C;
    display: table;
    width: 100%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.menu ul {
    padding-left: 0;
    width: 100%;
    text-align: center;
    display: table-cell;
}

.menu ul li {
    list-style-type: none;
    display: inline;
}

.sidebar {
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    color: #222222;
    background-color: transparent;
    border-radius: 15px;
    text-align: center;
    vertical-align: center;
    padding: 15px 4%;
    cursor: pointer;
    display: inline-table;
}

.wrapper {
    display: flex;
	flex-direction: column;
	height: 100%;
}

.main {
    flex: 1 0 auto;
}

.user {
    float: right;
    text-align: center;
    vertical-align: center;
    display: inline-table;
    padding: 5px 1%;
    margin: 10px 1% 3px auto;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    color: #222222;
    background-color: #22222222;
    border-radius: 15px;
}

.sidebar:hover {
    color:#FFFFFF;
    background-color: #0008;
}

.user:hover {
    color: #222222;
}

.content {
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    background-color: #ffffff97;
}

.footer {
    max-height: max-content;
    flex: 0 0 auto;
    margin-top: 2%;
    width: 100%;
    border-radius: 15px;
    background-color: #444;
    text-align: center;
    line-height: var(--footer-height);
}

.footer a{
    white-space: nowrap;
    text-align: center;
    border: 3px solid transparent;
    border-radius: 15px;
    list-style: none;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    color: #F9D71C;
    bottom: 0;
    padding: 19px 2% 18px 2%;
    height: var(--footer-height);
    cursor: pointer;
}

.footer a:hover{
    color: #fff;
    background-color: #0008;

}

.footer-margin {
    width: 100%;
}

.sidebar-nav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: var(--header-height);
}

.values {
    display: block;
    margin-top: auto;
    list-style: none;
    padding: 0;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif
}

.logo {
    margin: 0.5% auto 0.5% 2%;
    float: left;
}

.nav {
    padding-right: 10px;
    margin: 10px 0;
    padding-left: 10px;
    color: black;
    text-decoration-line: none;
    text-align: center;
}

.nav:hover {
    color: #F9D71C;
}

.but {
    margin-right: 2%;
}

.cars {
    font-family:  "Exo2-Medium", sans-serif;
    min-width: max-content;
    padding-top: 2.5%;
}
.cars:hover{
    border: 3px solid #F9D71C;
    border-radius: 10px;
    -webkit-transform-origin: 0 100%;
}

.driver-info {
    padding-right: 10px;
    margin: 10px 0;
    padding-left: 10px;
    color: black;
    text-decoration-line: none;
}

.driver-info:hover {
    color: #F9D71C;
}
